<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{theme/simple/head :: head(~{::title})}">
    <title>博客详情</title>

</head>

<body>
<!-- header -->
<div th:replace="~{theme/simple/header::header}"></div>
<!-- header -->

<!-- main -->
<main role="main-inner-wrapper" class="container">
    <div class="blog-details">
        <article class="post-details" id="post-details">
            <header role="bog-header" class="bog-header text-center">
                <h3>
                    <th:block th:utext="${#dates.format(blog.meta.lastModifiedTime,'yyyy-MM-dd')}"></th:block>
                </h3>
                <h2>
                    <th:block th:text="${blog.meta.title}"></th:block>
                </h2>
            </header>
            <figure>
                <img src="/simple/site/images/blog-images/blog-details-image.jpg" alt="" class="img-responsive"/>
            </figure>
            <div id="post-content" class="post-content" itemprop="articleBody">
                <th:block th:utext="${blog.html}"></th:block>
            </div>
        </article>

        <!-- Comments -->
        <div th:replace="~{theme/simple/comments::comments}"></div>
    </div>
</main>
<!-- main -->

<!-- footer -->
<div th:replace="~{theme/simple/footer::footer}"></div>

<!-- js -->
<th:block th:replace="~{theme/simple/_fragments :: TaleCommentScript}"/>

</body>

</html>